<div class="footer" id="footer" role="contentinfo">
  <div class="row">
    <div class="footer__about">

      <a href="http://www.access-info.org" class="footer__logo"><%= _('Access Info') %></a>

      <div class="footer__byline">
        <p class="footer__credit">
          <%= _('A project by <a href="http://www.access-info.org">Access Info ' \
                'Europe</a>, powered by <a href="http://alaveteli.org">' \
                'Alaveteli</a>') %>
        </p>

        <div class="footer__contact">
          <div class="footer__contact__addresses">
            <p><%= _("Cava de San Miguel 8, 4º centro. 28005 Madrid (Spain)") %></p>
            <p><a href="mailto:info@access-info.org">info@access-info.org</a></p>
          </div>
          <div class="footer__contact__phone">
            <p><%= _("Office number (10-19 hrs CET):") %></p>
            <p><a href="tel:0034913656558">+34 91 365 65 58</a></p>
          </div>
          <div class="footer__contact__phone">
            <p><%= _("Out of hours mobile (any time):") %></p>
            <p><a href="tel:0034667685319">+34 667 685 319</a></p>
          </div>
        </div>
      </div>

    </div>

    <div class="footer__links">
      <ul class="about__contact-links">
        <li>
          <%= link_to _('About'), help_about_path %>
        </li>
        <li>
          <%= link_to _('Contact'), help_contact_path %>
        </li>
        <li>
          <%= link_to _('Privacy and cookies'), help_privacy_path %>
        </li>
        <li>
          <%= link_to _('API'), help_api_path %>
        </li>
      </ul>
    </div>

    <div class="footer__legal">
      <p class="frontpage-photo-attribution">
        <%= _('Homepage header photo © European Union 2014 - European ' \
              'Parliament') %>
        <a href="https://www.flickr.com/photos/european_parliament/13064833244/">CC-BY-ND</a>
      </p>
      <p>
        <%= _('This website is powered by <a href="http://www.alaveteli.org/">Alaveteli</a>.') %>
        <%= _('Other original content was developed by Access Info Europe ' \
              'and is made public under a ' \
              '<a href="http://creativecommons.org/licenses/by-sa/3.0/">' \
              'Creative Commons Attribution, Share Alike licence</a>.') %>
      </p>
    </div>

  </div>

  <div class="footer__final">
    <div class="row">
      <div class="final__social-links">
        <ul>
          <% unless AlaveteliConfiguration::twitter_username.blank? %>
          <li>
            <a href="https://twitter.com/<%= AlaveteliConfiguration::twitter_username %>" class="social-link social-link--twitter">@<%= AlaveteliConfiguration::twitter_username %></a>
          </li>
          <% end %>
          <% unless AlaveteliConfiguration::facebook_username.blank? %>
          <li>
            <a href="https://facebook.com/<%= AlaveteliConfiguration::facebook_username %>" class="social-link social-link--facebook">/<%= AlaveteliConfiguration::facebook_username %></a>
          </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
