<div class="footer" id="footer">
  <div class="row">
    <div class="footer__about">
      <h2><%= site_name %></h2>
      <%= render :partial => 'general/responsive_credits' %>
      <ul class="about__contact-links">
        <li>
          <%= link_to 'Contact us', help_contact_path %>
        </li>
        <li>
          <%= link_to 'Help', help_path %>
        </li>
        <li>
          <%= link_to 'Privacy and cookies', help_privacy_path %>
        </li>
        <li>
          <%= link_to 'API', help_api_path %>
        </li>
      </ul>
    </div>
  </div>
  <div class="footer__final">
    <p class="frontpage-photo-attribution">Homepage photo © European Union 2014 - European Parliament <a href="https://www.flickr.com/photos/european_parliament/13064833244/">CC-BY-ND</a></p>
  </div>
</div>
