<% cache_if_caching_fragments("frontpage-#{@locale}", :expires_in => 5.minutes) do %>

  <div class="frontpage__primary">
    <h2><%= _("How to AskTheEU") %></h2>

    <div class="responsive-iframe responsive-iframe--16-9">
      <iframe width="1280" height="720" src="https://www.youtube-nocookie.com/embed/0NBuYOPZn_4?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>

  <div class="frontpage__secondary">
    <h2><%= _("Top requests") %></h2>

    <% @top_requests.each do |info_request| %>
      <%= render :partial => 'general/frontpage_top_request', :locals => { :info_request => info_request } %>
    <% end %>
  </div>

  </div><%# close div#general_frontpage %>
  </div><%# close div#content %>
  </div><%# close div#wrapper %>

  <div class="frontpage__tertiary">

    <div class="wrapper">
      <div class="content">
        <h2><%= _("Latest news and campaigns") %> <%= link_to _("See all"), blog_path %></h2>

        <div class="frontpage__blog">
          <% @blog_items.take(4).each do |item| %>
            <div class="frontpage__blog__item">
              <% if item['thumbnail'] %>
                <%= link_to item['link'][0] do %>
                  <img <%= item['thumbnail'][0].to_s.html_safe %> width="250" height="150">
                <% end %>
              <% end %>

              <h3><%= link_to item['title'][0], item['link'][0] %></h3>
              <p><%= h excerpt(item['description'][0].to_s, "", :radius => 198) %></p>
            </div>
          <% end %>
        </div>

<% end %>
