<section id="introduction">
  <h2>
    Introducción
  </h2>

  <p>
    La plataforma AsktheEU.org Pro service (“AsktheEU Pro”, el “Servicio”) está
    gestionado por Access Info Europe, asociación con domicilio en Calle Cava de
    San Miguel 8, 4 centro, 28005 Madrid e inscrita conforme a la legislación
    española en el Registro Nacional de Asociaciones del Ministerio del
    Interior, con CIF nº G84816610.
  </p>

  <p>
    Asegúrate de que específicas que “Access Info Europe” es el destinatario si
    nos escribes por correo postal.
  </p>

  <p>
    Registrándote como usuario de AsktheEU.org y/o haciendo uso de esta
    plataforma, aceptas estos términos y condiciones, que forman un acuerdo
    legalmente vinculante. Te rogamos que los leas detenidamente ya que éstos
    definen las condiciones bajo las podrás hacer uso de AsktheEU Pro.
  </p>

  <p>
    Para poder usar AsktheEU Pro, tienes que tener al menos 18 años de edad y
    capacidad de contratar. Si quieres usar AsktheEU Pro en nombre de una
    organización o empresa, por favor contacta con Access Info Europe para que
    podamos concluir un contrato formal con esa empresa u organización.
  </p>

  <p>
    Access Info Europe se reserva el derecho de actualizar o cambiar estos
    Términos periódicamente sin necesidad de notificar previamente a sus
    usuarios y a su sola discreción. Haremos, sin embargo, un esfuerzo razonable
    para notificarte de los cambios una vez se hayan producido.
  </p>
</section>

<section id="usage">
  <h2>
    Uso
  </h2>

  <p>
    Nos reservamos el derecho de bloquear sin preaviso la cuenta de cualquier
    usuario que, mediante su uso de AsktheEU.org viole nuestras
    <%= link_to 'reglas internas de uso', help_about_path %>.
  </p>
</section>

<section id="accounts">
  <h2>
    Cuentas
  </h2>

  <p>
    Deberás proporcionar una dirección de correo válida para poder completar el
    proceso de registro como nuevo usuario. Usaremos esta dirección en caso de
    que necesitemos ponernos en contacto contigo respecto a cualquier cuestión
    relativa a tu cuenta o a tu uso de AsktheEU Pro. Por favor, asegúrate de que
    mantienes esta información actualizada.
  </p>

  <p>
    El titular de la cuenta será responsable de toda actividad que se lleve a
    cabo a través de la misma, y por lo tanto debes garantizar la seguridad de
    tu contraseña. Access Info Europe estará exenta de cualquier responsabilidad
    derivada de pérdidas o daños asociados a tu incapacidad de mantener segura
    tu cuenta y/o tu contraseña. En caso de que tengas sospechas de cualquier
    uso no autorizado de tu cuenta deberás ponerte inmediatamente en contacto
    con el equipo.
  </p>
</section>

<section id="termination">
  <h2>
    Extinción, cancelación y suspensión del servicio
  </h2>

  <p>
    Puedes poner fin a este acuerdo unilateralmente en cualquier momento y por
    cualquier razón, mediante el cese del uso de AsktheEU Pro y la cancelación
    de cualquier suscripción.
  </p>

  <p>
    Si ya has realizado el pago mensual en el momento en el que expreses tu
    voluntad de terminar tu suscripción, la cancelación se hará efectiva al
    final del periodo de facturación. Hasta esta fecha, continuarás teniendo
    acceso completo a AsktheEU Pro.
  </p>

  <p>
    Cuando cancelas tu cuenta:
  </p>

  <ul>
    <li>
      Perderás acceso a los borradores de las solicitudes que aún no hubieras
      enviado.
    </li>

    <li>
      No podrás acceder a las herramientas de AsktheEU Pro, que incluyen el
      “panel de control” y la gestión avanzada de las solicitudes.
    </li>

    <li>
      Podrás seguir viendo las solicitudes que siguen siendo privadas, pero no
      podrás realizar nuevas solicitudes privadas o extender la duración de la
      privacidad de tus solicitudes. Estas solicitudes se publicarán cuando
      acabe el periodo de privacidad correspondiente.
    </li>

    <li>
      Podrás volver a suscribirte en cualquier momento, obteniendo de nuevo
      acceso a todas las funciones de AsktheEU Pro.
    </li>
  </ul>

  <p>
    Access Info Europe puede suspender tu acceso a AsktheEU Pro si:
  </p>

  <ul>
    <li>
      No has cumplido con tus obligaciones de pago;
    </li>

    <li>
      Access Info Europe reasonably believes you to be in material breach of
      access Info Europe considera que estás violando cualquiera de los términos
      de este contrato;ny term of this agreement;
    </li>

    <li>
      Access Info Europe considera que es necesario hacerlo para para garantizar
      el cumplimiento la legislación aplicable o por orden de un juzgado o de
      otra autoridad competente.
    </li>
  </ul>

  <p>
    También nos reservamos el derecho a modificar o terminar la provisión del
    servicio AsktheEU pro por cualquier razón, en cualquier momento y sin
    necesidad de previa notificación.
  </p>
</section>

<section id="attribution">
  <h2>
    Atribuciones / Crédito
  </h2>

  <p>
    Si publicas artículos periodísticos o datos basados en información obtenida
    a través de solicitudes de acceso a la información realizadas en AsktheEU
    Pro, te pedimos que consideres hacer las solicitudes públicas en
    AsktheEU.org, y referirte a ellas en tus artículos o publicaciones mediante
    un enlace.
  </p>
</section>

<section id="payment">
  <h2>
    Pago
  </h2>

  <p>
    Las tarifas de esta plataforma están publicadas en
    <%= link_to pro_plans_url, pro_plans_path %> y están sujetas a posibles
    cambios, siempre con un preaviso de 30 días por nuestra parte.
  </p>

  <p>
    Tu suscripción se cobra por adelantado una vez al mes. Debes comprobar que
    la información de tu tarjeta de crédito o débito es válida en todo momento y
    autorizarnos a realizar cargos mensuales en esa tarjeta.
  </p>

  <p>
    Si no conseguimos procesar tu pago intentaremos contactarte por email.
    Nos reservamos el derecho de limitar o suspender tu cuenta hasta que
    podamos procesar el pago.
  </p>
</section>

<section id="support">
  <h2>
    Acuerdo de nivel de servicio y soporte
  </h2>

  <p>
    Access Info Europe no ofrece garantía de la disponibilidad de AsktheEU Pro,
    y no será responsable si AsktheEU Pro no está disponible por cualquier
    razón.
  </p>

  <p>
    Si necesitas contactarnos, puedes hacerlo a través de nuestra
    <%= link_to 'página de contacto', help_contact_path %>.
  </p>
</section>

<section id="small-print">
  <h2>
    Letra Pequeña
  </h2>

  <p>
    Estos términos están sujetos a la legislación española. Éstos constituyen
    todos los términos y condiciones acordados entre el usuario y Access Info
    Europe y remplazan cualquier acuerdo previo entre las partes, tanto escrito
    como verbal.
  </p>

  <p>
    Con la aceptación de estos términos otorgas tu aceptación expresa a que,
    hasta el máximo permitido por la ley, Access Info Europe queda exento de
    toda responsabilidad u obligación derivada, de forma directa o indirecta, de
    tu uso o tu incapacidad de uso de AsktheEU Pro. En cualquier caso, nuestra
    responsabilidad total por cualquier reclamación sobre AsktheEU Pro en
    cualquier mes no superará la cantidad pagada por el Servicio el mes
    anterior.
  </p>

  <p>
    No podrá considerarse que Access Info Europe renuncia tácitamente a hacer
    valer sus derechos por el mero hecho de no haber logrado hacer valer
    cualquier derecho recogido en este acuerdo en otras ocasiones o por haberte
    permitido violar cualquier termino de este acuerdo en una o más ocasiones.
  </p>
</section>

<section id="privacy">
  <h2>
    Privacidad
  </h2>

  <p>
    Puedes leer la política de privacidad de AsktheEU Pro aquí:
    <%= link_to help_privacy_url, help_privacy_path %>
  </p>

  <p>
    En AsktheEU.org nos tomamos tu privacidad en serio. Usaremos los datos
    personales que nos proporciones únicamente con el objetivo de administrar el
    servicio y nunca los revelaremos a terceros a no ser que estemos obligados a
    hacerlo por ley. Nos pondremos en contacto contigo por email únicamente por
    cuestiones relacionadas con tu uso de AsktheEU Pro. Aunque a veces usemos
    cookies y Google Analytics para ayudarnos a mejorar nuestra página web,
    puedes bloquearlos si lo deseas, y nosotros te proporcionaremos información
    sobre cómo hacerlo.
  </p>

  <p>
    Usamos Stripe para procesar los pagos. Puedes leer sobre los términos de
    uso y política de privacidad de Stripe aquí:
    <%= link_to 'https://stripe.com/es/privacy',
      'https://stripe.com/es/privacy' %>.
  </p>

  <p>
    La base legal para procesar tus datos de pago es este contrato (conforme a
    la cláusula <%= link_to '6(1)(b)', 'https://gdpr-info.eu/art-6-gdpr/' %> –
    del Reglamento General de Protección de Datos, en vigor desde el 25 de Mayo
    de 2018). En general, la base legal para procesar tus datos personales en la
    página web es Interés Legítimo (conforme a la cláusula
    <%= link_to '6(1)(f)', 'https://gdpr-info.eu/art-6-gdpr/' %> del RGPD). Lee
    la
    <%= link_to 'política de privacidad de AsktheEU.org', help_privacy_path %>
    para obtener más información sobre cómo procesamos tus datos personales y
    tus derechos.
  </p>
</section>
