<section id="introduction">
  <h2>
    Introduction
  </h2>

  <p>
    Le plate-forme AsktheEU.org Pro ("AsktheEU Pro", le "Service") est géré par
    Access Info Europe, une association domiciliée Calle Cava de San Miguel 8, 4
    centro, 28005 Madrid et inscrite conformément à la législation espagnole au
    Registre National des Associations du Ministère de l'intérieur, sous le
    numéro CIF G84816610.
  </p>

  <p>
    Nous vous demandons de préciser bien que "Access Info Europe" est le
    destinataire si vous nous écrivez par la poste.
  </p>

  <p>
    En vous inscrivant en tant qu'utilisateur de AsktheEU.org et/ou en
    utilisant cette plateforme, vous acceptez ces termes et conditions, qui
    constituent un accord juridiquement contraignant. Veuillez les lire
    attentivement car elles définissent les conditions dans lesquelles vous
    pouvez utiliser AsktheEU Pro.
  </p>

  <p>
    Pour utiliser AsktheEU Pro, vous devez avoir au moins 18 ans et être
    capable de signer un contract. Si vous souhaitez utiliser AsktheEU Pro au
    nom d'une organisation ou d'une entreprise, veuillez contacter Access Info
    Europe afin que nous puissions conclure un contrat formel avec cette
    entreprise ou cette organisation.
  </p>

  <p>
    Access Info Europe se réserve le droit de mettre à jour ou de modifier ces
    Conditions de temps à autre sans préavis à ses utilisateurs et à sa seule
    discrétion. Toutefois, nous ferons un effort raisonnable pour vous aviser
    des changements une fois qu'ils se seront produits.
  </p>
</section>

<section id="usage">
  <h2>
    Usage
  </h2>

  <p>
    Nous nous réservons le droit de bloquer sans préavis le compte de tout
    utilisateur qui, en utilisant AsktheEU.org viole nos <%= link_to "règles
    internes d'utilisation", help_about_path %>.
  </p>
</section>

<section id="accounts">
  <h2>
    Comptes
  </h2>

  <p>
    Vous devrez fournir une adresse électronique valide afin de compléter le
    processus d'inscription en tant que nouvel utilisateur. Nous utiliserons
    cette adresse au cas où nous aurions besoin de vous contacter pour toute
    question concernant votre compte ou votre utilisation de AsktheEU Pro.
    Veuillez vous assurer de tenir ces informations à jour.
  </p>

  <p>
    Le titulaire du compte sera responsable de toute activité effectuée par
    l'intermédiaire du compte, et par conséquent vous devez donc assurer la
    sécurité de votre mot de passe. Access Info Europe n'est pas responsable des
    pertes ou dommages liés à votre incapacité à sécuriser votre compte et/ou
    votre mot de passe. Si vous soupçonnez une utilisation non autorisée de
    votre compte, vous devez immédiatement contacter avec notre équipe.
  </p>
</section>

<section id="termination">
  <h2>
    Extinction, annulation et suspension du service
  </h2>

  <p>
    Vous pouvez terminer cet accord unilatéralement à tout moment et pour
    n'importe quelle raison en cessant d'utiliser AsktheEU Pro et en annulant
    tout abonnement.
  </p>

  <p>
    Si vous avez déjà effectué votre paiement annuel au moment où vous
    exprimez votre souhait de annuler votre abonnement, l'annulation prendra
    effet à la fin de la période de facturation. Jusqu'à cette date, vous
    continuerez à avoir un accès complet à AsktheEU Pro.
  </p>

  <p>
    Lorsque vous annulez votre compte:
  </p>

  <ul>
    <li>
      Vous perdrez l'accès aux brouillons des demandes que vous n'avez pas
      encore envoyées.
    </li>

    <li>
      Vous ne pourrez pas accéder aux outils AsktheEU Pro, y compris le
      "panneau de contrôle" et la gestion avancée des requêtes.
    </li>

    <li>
      Vous pourrez toujours consulter les demandes qui sont encore privées,
      mais vous ne pourrez pas faire de nouvelles demandes privées ou prolonger
      la durée de la confidentialité de vos demandes. Ces demandes seront
      publiées à la fin de la période de confidentialité correspondante.
    </li>

    <li>
      Vous pourrez vous réinscrire à tout moment, en accédant à nouveau à toutes
      les fonctions d'AsktheEU Pro.
    </li>
  </ul>

  <p>
    Access Info Europe peut suspendre votre accès à AsktheEU Pro si:
  </p>

  <ul>
    <li>
      Vous n'avez pas rempli vos obligations de paiement;
    </li>

    <li>
      Access Info Europe considère que vous violez les termes de ce contrat;
    </li>

    <li>
      Access Info Europe estime qu'il est nécessaire de le faire pour assurer
      le respect de la loi applicable ou sur ordre d'un tribunal ou d'une autre
      autorité compétente.
    </li>
  </ul>

  <p>
    Nous nous réservons également le droit de modifier ou de mettre fin à la
    fourniture du service AsktheEU Pro pour toute raison, à tout moment et sans
    préavis.
  </p>
</section>

<section id="attribution">
  <h2>
    Crédits
  </h2>

  <p>
    Si vous publiez des articles journalistiques ou des données basés sur des
    informations obtenues grâce à des demandes d'accès à des informations faites
    sur AsktheEU Pro, nous vous demandons d'envisager de rendre ces demandes
    publiques sur AsktheEU.org, et de vous y référer dans vos articles ou
    publications via un lien.
  </p>
</section>

<section id="payment">
  <h2>
    Paiement
  </h2>

  <p>
    Les tarifs de cette plateforme sont publiés sur <%= link_to pro_plans_url,
    pro_plans_path %> et sont sujets à changement, toujours avec un préavis de
    30 jours de notre part.
  </p>

  <p>
    Votre abonnement est facturé à l'avance une fois par an. Vous devez
    vérifier que les renseignements de votre carte de crédit ou de débit sont
    valides en tout temps et nous autoriser à effectuer des prélèvements
    annuels sur cette carte.
  </p>

  <p>
    Si nous ne sommes pas en mesure de traiter votre paiement, nous essaierons
    de vous contacter par email. Nous nous réservons le droit de limiter ou de
    suspendre votre compte jusqu'à ce que nous puissions traiter votre paiement.
  </p>
</section>

<section id="support">
  <h2>
    Accord sur les niveaux de service et soutien
  </h2>

  <p>
    Access Info Europe ne garantit pas la disponibilité de AsktheEU Pro, et ne
    sera pas responsable si AsktheEU Pro n'est pas disponible pour n’importe
    quelle raison.
  </p>

  <p>
    Si vous avez besoin de nous contacter, vous pouvez le faire via notre
    <%= link_to 'page de contact', help_contact_path %>.
  </p>
</section>

<section id="small-print">
  <h2>
    Petits Caractères
  </h2>

  <p>
    Les présentes conditions sont soumises au droit espagnol. Elles constituent
    l'ensemble des conditions générales convenues entre l'utilisateur et Access
    Info Europe et remplacent tout accord préalable entre les parties, écrit ou
    oral.
  </p>

  <p>
    En acceptant ces conditions, vous acceptez expressément que, dans toute la
    mesure permise par la loi, Access Info Europe est exempt de toute
    responsabilité ou obligation découlant directement ou indirectement de votre
    utilisation ou de votre incapacité à utiliser AsktheEU Pro. En tout état de
    cause, notre responsabilité totale pour toute réclamation contre AsktheEU
    Pro au cours d'un mois ne doit pas dépasser le montant payé pour le Service
    le mois précédent.
  </p>

  <p>
    Access Info Europe ne sera pas considérée comme ayant tacitement renoncé à
    ses droits par le simple fait de ne pas faire valoir tout droit contenu dans
    le présent contrat à d'autres occasions ou en vous permettant de violer
    toute condition du présent contrat en une ou plusieurs occasions.
  </p>
</section>

<section id="privacy">
  <h2>
    Confidentialité
  </h2>

  <p>
    Vous pouvez lire la politique de confidentialité de AsktheEU Pro ici:
    <%= link_to help_privacy_url, help_privacy_path %>.
  </p>

  <p>
    Chez AsktheEU.org, nous prenons votre confidentialité des données au
    sérieux. Nous utiliserons les données personnelles que vous nous fournissez
    uniquement dans le but d'administrer le service et ne les divulguerons
    jamais à des tiers, sauf si la loi nous y oblige. Nous vous contacterons par
    e-mail uniquement pour les questions relatives à votre utilisation
    d'AsktheEU Pro. Bien que nous utilisions parfois des cookies et Google
    Analytics pour nous aider à améliorer notre site Web, vous pouvez les
    bloquer si vous le souhaitez, et nous vous fournirons des informations sur
    la façon de le faire.
  </p>

  <p>
    Nous utilisons Stripe pour traiter les paiements. Vous pouvez lire les
    conditions d'utilisation et la politique de confidentialité de Stripe ici:
    <%= link_to 'https://stripe.com/gb/privacy',
    'https://stripe.com/gb/privacy' %>.
  </p>

  <p>
    La base legal pour le traitement de vos données de paiement est le présent
    contrat ((conformément au paragraphe <%= link_to '6(1)(b)',
    'https://gdpr-info.eu/art-6-gdpr/' %> - du GDPR, en vigueur à partir du 25
    mai 2018). En général, la base légale pour le traitement de vos données
    personnelles sur le site Web est l'intérêt légitime (<%= link_to '6(1)(f)',
    'https://gdpr-info.eu/art-6-gdpr/' %> du GDPR). Lisez la
    <%= link_to 'politique de confidentialité de AsktheEU.org',
    help_privacy_path %> pour plus d'informations sur la façon dont nous
    traitons vos données personnelles et vos droits.
  </p>
</section>
