<div class="columns_header">
  <h1>Termes et conditions</h1>
</div>
<div id="right_column_flip" class="right_column_flip">
  <div>
    <ul>
      <li>
        <%= link_to "Introduction", '#introduction' %>
      </li>
      <li>
        <%= link_to "Usage", "#usage" %>
      </li>
      <li>
        <%= link_to "Comptes", "#accounts" %>
      </li>
      <li>
        <%= link_to "Extinction, annulation et suspension du service", "#termination" %>
      </li>
      <li>
        <%= link_to "Crédits", "#attribution" %>
      </li>
      <li>
        <%= link_to "Paiement", "#payment" %>
      </li>
      <li>
        <%= link_to "Accord sur les niveaux de service et soutien", "#support" %>
      </li>
      <li>
        <%= link_to "Petits Caractères", "#small-print" %>
      </li>
            <li>
        <%= link_to "Confidentialité", "#privacy" %>
      </li>
    </ul>
  </div>
</div>
<div id="left_column_flip" class="left_column_flip">
  <%= render partial: 'legal' %>
</div>
