<div class="columns_header">
  <h1>Términos y Condiciones</h1>
</div>
<div id="right_column_flip" class="right_column_flip">
  <div>
    <ul>
      <li>
        <%= link_to "Introducción", '#introduction' %>
      </li>
      <li>
        <%= link_to "Uso", "#usage" %>
      </li>
      <li>
        <%= link_to "Cuentas", "#accounts" %>
      </li>
      <li>
        <%= link_to "Extinción, cancelación y suspensión del servicio", "#termination" %>
      </li>
      <li>
        <%= link_to "Atribuciones / Crédito", "#attribution" %>
      </li>
      <li>
        <%= link_to "Pago", "#payment" %>
      </li>
      <li>
        <%= link_to "Supportcuerdo de nivel de servicio y soporte", "#support" %>
      </li>
      <li>
        <%= link_to "Letra Pequeña", "#small-print" %>
      </li>
            <li>
        <%= link_to "Privacidadadi", "#privacy" %>
      </li>
    </ul>
  </div>
</div>
<div id="left_column_flip" class="left_column_flip">
  <%= render partial: 'legal' %>
</div>
