<h1><%= _('Great news!') %></h1>

<p class="subtitle">
  <%= _("We're glad you got all the information that you wanted.") %>
</p>

<h3><%= _("Let other people know what you’ve found out") %></h3>

<%= link_to image_tag("next-step-twitter.png",
                      :alt => _("Tweet it"),
                      :width => "120",
                      :height => "37"),
                      "https://twitter.com/intent/tweet?" << {
                        :url => request.url,
                        :via => AlaveteliConfiguration.twitter_username,
                        :text => "'#{ @info_request.title }'",
                        :related => _('mySocietyIntl:Helping people set ' \
                                        'up sites like {{site_name}} ' \
                                        'all over the world',
                                      :site_name => site_name),
                      }.to_query, :class => 'share-link',
                                  :onclick => track_analytics_event(
                                    AnalyticsEvent::Category::OUTBOUND,
                                    AnalyticsEvent::Action::TWITTER_EXIT,
                                    :label => "Share Request") %>


<%= link_to image_tag("next-step-facebook.png",
                      :alt => _("Share on Facebook"),
                      :width => "120",
                      :height => "37"),
                      "https://www.facebook.com/sharer/sharer.php?" << {
                        :u => request.url
                      }.to_query, :class => 'share-link',
                                  :onclick => track_analytics_event(
                                    AnalyticsEvent::Category::OUTBOUND,
                                    AnalyticsEvent::Action::FACEBOOK_EXIT,
                                    :label => "Share Request") %>


<% if AlaveteliConfiguration.enable_annotations %>
  <p class="annotation-reminder">
    <%= _('If you write about this request ' \
          '(for example in a forum or a blog) ' \
          'please link to this page, and <a href="{{url}}">add an ' \
          'annotation</a> below telling people ' \
          'about your writing.',
          :url => new_comment_url(:url_title => @info_request.url_title).html_safe) %>
  </p>
<% else %>
  <p class="annotation-reminder">
    <%= _('If you write about this request ' \
          '(for example in a forum or a blog) ' \
          'please link to this page.') %>
  </p>
<% end %>