<div id="right_column_flip">
  <h3>Find out more...</h3>

  <h2><%= link_to_unless_current "About AsktheEU.org", help_about_path %></h2>

  <h2>
    <%= link_to_unless_current "About the right of access to EU documents",
          help_requesting_path %>
  </h2>

  <h2>
    <%= link_to_unless_current "How to Request",
      help_requesting_path(:anchor => 'how-to-request') %>
  </h2>

  <h2>
    <%= link_to_unless_current "Submitting an Appeal",
          help_requesting_path(:anchor => 'answers_appeals') %>
  </h2>

  <h2><%= link_to_unless_current "Your privacy", help_privacy_path %></h2>

  <h2><%= link_to_unless_current "Can I help out?", help_help_out_path %></h2>

  <h2><%= link_to_unless_current "Information for EU Officials", help_officers_path %></h2>

  <h2><%= link_to_unless_current "About the Software", help_alaveteli_path %></h2>

  <h2><%= link_to_unless_current "Programmers API", help_api_path %></h2>

  <h2><%= link_to_unless_current "Credits", help_credits_path %></h2>

  <h2 id="contact">Contact us</h2>
  <p>If your question isn't answered here, or you just wanted to let us know
  something about the site, <%= link_to 'contact us', help_contact_path %>.
  </p>
</div>


