<% @title = "Privacy and Data Protection" %>
<%= render :partial => 'sidebar' %>
<div id="left_column_flip">
  <div class="page__header">
    <h1 class="page__header__title"><%= @title %></h1>
  </div>
  <p id="public_request">On AsktheEU.org, as a general rule only your name is visible to the general public and we advise you not to put any personal information in the body of the request.</p>
  <p>The AsktheEU.org website is run by Access Info Europe and we take privacy and personal data protection seriously. We comply with the <a href="https://commission.europa.eu/law/law-topic/data-protection/data-protection-eu_en">European Union's General Data Protection Regulation</a>.</p>
<h4>Exceptions to the no personal data rule</h4>
<p>The <strong>European Commission</strong> does ask for your postal address. You can add it at the time that you make the request or when they come back to you and ask you to provide it. As soon as you have sent the mail with the postal address, contact the AsktheEU.org team on team at asktheeu.org and we will redact that information.</p>
<p>The only other body which currently asks for personal information is <strong>Frontex</strong>, the <a href="https://www.frontex.europa.eu/media-centre/news/news-release/frontex-to-provide-additional-support-to-bolster-finland-s-borders-41el4Z">European Border and Coast Guard Agency</a>, which asks that you send them via a separate email a copy of your identity document. This will not become public. </p>
  <h2>Which of my personal data does Access Info process?</h2>
  <p>Access Info receives your full name and your email address. We use these for managing the AsktheEU.org website. We never share your email address with anyone else without your express permission.</p>
  <p>The AsktheEU.org website transfers your name - but not your email address - in access to documents requests to European Union bodies. By using the AsktheEU.org website, you expressly give your permission for us to transfer your name to the relevant EU body. You also expressly give your permission for that EU body to process your name for the purpose of answering your request. This means that your name will be shared with relevant European Union officials who are involved in searching for the requested documents and in preparing and signing the response to you.</p>
  <p>Under the EU’s data protection rules, it does not have the right to transfer your name to any other third party without your express consent.</p>
  <h2 id="email_address">Who gets to see my email address?</h2>
  <p>Your e-mail address will not be shown on the website unless you include it in the message.</p>
  <p>EU officials do not see your email address. This is because the system generated a unique email address for each request, and that unique email has nothing to do with you or your name.</p>
  <p>The AsktheEU.org team at Access Info Europe can see your email address. We may use it to contact you for issues relating to your request or for updates about issues relating to the AsktheEU.org website.</p>
  <p>We will never disclose your email address to anyone unless either you ask us to do so or unless we are obliged to by law.</p>
  <p>If you send a message to another user on the site, then it will reveal your email address to them. You will be told in advance that this is going to happen.</p>
  <h2 id="real_name">Do I have to give a real name?</h2>
  <p>Yes. We ask you to use a real name, giving a first and last name. You are exercising a right which is the basis for an open and democratic society and this should be under your real name.</p>
  <p>Also, if you want to appeal later to the European Ombudsman or to the Court of Justice of the European Union you should have used your real name.</p>
  <p>Please note that some EU bodies may ask you to verify your address or even to provide an ID. We are against this practice but it can happen.</p>
  <p>If you are a journalist or a well-known person and do not want to reveal that you are asking for information, the solution is to get another person, a friend or colleague, to send the request.</p>
  <p>If you are really stuck, <%= link_to 'contact us', help_contact_path %> and we will try to help you send the request; please note that we don't have the resources to do this for everyone.</p>
  <p>Note that we only ask for a first and a last name. If you have more than one first or last name you can use these, but the minimum is a first and last name. If we see silly names or really obvious pseudonyms, we will remove the request and contact the requester about this. Please do not impersonate someone else!</p>
  <h2 id="takedown">Can you take down personal information about me?</h2>
  <p>If you are asked to provide your postal address and you do so via the website, please simply contact us and we can redact it from the request.</p>
  <p>If you accidentally gave other personal information (your phone number, or any other personal details), please contact us and we can redact them from the request.</p>
  <p>Please note that in these cases, even though the information is no longer online, it has been sent to the EU body. If you are concerned about information you have sent, please talk to us. We will help you mediate with an EU body for them to also destroy the personal information.</p>
  <p>For technical reasons we are not always able automatically to remove emails and phone numbers from attachments, such as scanned PDFs, although in many cases this can be done manually if you <%= link_to 'contact us', help_contact_path %>.</p>
  <h2 id="postal_answer">The EU body has asked for my phone number or postal address!</h2>
<p>Some EU bodies, currently the European Commission, ask for a postal address with each request.</P>
<p>Access Info believes that this is a breach of the EU’s access to documents rules (Regulation 1049/2001) but the Commission insists on doing it.</p>
<p>You can either send your postal address with the request or when asked. You can then contact Access Info to redact it, write to us at team@asktheeu.org. </p>
  <p>If an EU body asks for your <strong>phone number</strong> to discuss or clarify the request you have two options. One is to ask that the clarification be done in writing, via the website. Another is to send it via the site and then contact us to redact it.</p>
  <p>If an EU body insists that they want your postal address to send you a formal decision letter by post, try to ensure that they do this in addition to sending it to you the response via AsktheEU.org.</p>
  <p>If you receive a response only by post, please <%= link_to 'let us know', help_contact_path %>. There are two solutions. One is that you send us the response so that we can put it on line. The other is that we contact the EU body and ask them to send the digital version as well.</p>
  <h2 id="delete">What if I want to delete my name or to delete my account?</h2>
  <p>The AsktheEU.org team can delete individual requests – that means the request and all answers are lost.</p>
  <p>The AsktheEU.org team can also delete your account. You need to contact us to do this. We will always comply with a request to delete your account in the shortest practical timeframe. That means that it can often be done immediately or at least within the same day.</p>
  <p>Once an account is deleted, then all the related information – the request and the responses – is also deleted.</p>
  <p>We cannot delete just your name and leave the requests, because the body of requests and answers will contain your name.</p>
  <p>We urge you to think carefully before deleting requests or an account, because that means that the information will be lost to everyone else. But of course, if you want to delete your account, that is your right!</p>
</div>
